.next
node_modules
package-lock.json
dist
dist-ssr
*.local

# Environment files
.env
.env.local
.env.production
.env.development
!.env.example

# Next.js
.next
out

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.next
./src/generated/prisma
*.sql
